:host {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    margin: 0 -1rem;
}

:host > button {
    color: var(--mat-sys-on-surface-container-highest);
    background-color: var(--mat-sys-surface-container-highest);

    border-radius: 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}