:host {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    mat-toolbar {
        height: 3rem;

        a {
            text-decoration: none;
        }
    }

    mat-sidenav-container {
        flex: 1;

        mat-sidenav {
            border-radius: 0;
        }

        mat-sidenav-content {
            overflow: auto;
        }

        router-outlet {
            display: none;
        }
    }
}